<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:Android="http://schemas.android.com/apk/res-auto"
    package="com.ruyiruyi.merchant">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_huise"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="XtlGuahX7H7TsAQ6m7Mk1zb73h2tXmTT" />

        <activity
            android:name=".MainActivity"
            android:launchMode="standard" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.FogetActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.base.BaseActivityb" />
        <activity android:name=".ui.activity.StoreManageActivity" />
        <activity
            android:name=".ui.activity.MyOrderActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.GoodsInfoReeditActivity"
            android:launchMode="singleTask" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ruyiruyi.merchant.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.activity.RegisterMapActivity" />
        <activity android:name=".ui.activity.StartAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MyGoodsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.GoodsInfoActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.activity.MyServiceActivity" />
        <activity android:name=".ui.activity.ServiceRecordActivity" />
        <activity android:name=".ui.activity.BugTestActivity" />
        <activity android:name=".ui.activity.OpenOrderFreeChangeActivity" />
        <activity android:name=".ui.activity.OpenOrderXiuBuActivity" />
        <activity android:name=".ui.activity.OpenOrderFirstChangeActivity" />
        <activity android:name=".ui.activity.PhotoSampleActivity" />
        <activity android:name=".ui.activity.ChangeBianmaActivity" />
        <activity
            android:name=".ui.activity.MyPicDialogActivity"
            android:theme="@style/dialogstyle" />
        <activity android:name=".ui.activity.SheZhiActivity" />
        <activity android:name=".ui.activity.ChangePwActivity" />
        <activity android:name=".ui.activity.PromotionActivity" />
        <activity android:name=".ui.activity.PublicOrderInfoActivity" />
        <activity android:name=".ui.activity.OrderConfirmFreeChangeActivity" />
        <activity android:name=".ui.activity.OrderConfirmFirstChangeActivity" />
        <activity android:name=".ui.activity.OrderConfirmTireRepairActivity" />
        <activity android:name=".ui.activity.UserAgreementActivity" />
        <activity android:name=".ui.activity.QRCodeActivity" />
        <activity android:name=".ui.activity.MerchantHasWordActivity"></activity>
    </application>

</manifest>